body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.top-bar-wrapper{
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 100%;
}

.top-bar{
    display: flex;
    justify-content: space-between;
}

.top-bar-link{
    text-decoration: none;
    color: #494949;
}

.social-menu{
    font-size: 14px;
    color: #4a4a4a
}

.header-wrapper{
    width: 100%;
    height: 165px;
}

.header{
    border: 1px solid gray;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header-col{
    flex-grow: 1;
}

.main-logo-img{
    height: 100%;
    align-self: center;
}

.search-col{
    display: flex;
    align-items: center;
}

.header-searchform{
    border: none;
    outline: none;
    background-color: #f7c37b;
    border-radius: 10px;
    /* padding: 6px 38px 6px 12px; */
    display: flex;
    height: 50px;
    margin-left: 20px;

}

.header-searchform img{
    align-self: center;
    height: 50%;
}

.header-searchform input{
    border: none;
    outline: none;
    background-color: #f7c37b;
    font-size: 14px;    
    padding: 11px 5px;
    border-radius: 10px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }


.wishlist-link-wrap{
    display: flex;
    align-content: center;
    height: 100%;
}

.wishlist-link-img{
    align-self: center;
    height: 24px;
}

.wishlist-count-number{
    color: white;
    font-size: 14px;
    margin-left: 4px;
}

